# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/projects/*/sim
/projects/*/imp
/projects/*/doc/scratch
__pycache__
