# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/projects/*/sim
/projects/*/imp
__pycache__
