# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/sim
/imp
/doc/scratch
__pycache__
